@import "style/definitions";

.root {
  display: flex;
  flex-direction: column;

  .alreadyHaveAnAccountContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }


  .actions {
    background: red
  }
}
