@import "style/definitions";

.root {
  font-family: $font-family-mono;
  user-select: none;
}

.expressionText {
  &.dark {
    &.formula {
      color: $dark-formula-color;
    }

    &.term {
      color: $dark-term-color;
    }
  }

  &:not(.dark) {
    &.formula {
      color: $formula-color;
    }

    &.term {
      color: $term-color;
    }
  }


  &.isSelected {
    background: $pt-text-selection-color;
  }
}
