@import "../../../style/definitions";

.root {
  display: flex;
  flex-direction: column;

  .passwordFormControl {
    margin-bottom: 8px;
  }

  .passwordStrengthIndicator {
    margin-bottom: 16px;
  }

  .alreadyHaveAnAccountContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}
