// region Include Overpass(Mono) Font
$resources_url: '../../../resources';
$fonts_url: '#{$resources_url}/fonts';
$overpass_url: '#{$fonts-url}/overpass';
$overpass_mono_url: '#{$fonts-url}/overpass_mono';

// Overpass
@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/thin-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/light-italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/semi-bold-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/extra-bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/extra-bold-italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('#{$overpass_url}/black-italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// OverpassMono
@font-face {
  font-family: 'OverpassMono';
  src: url('#{$overpass_mono_url}/light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OverpassMono';
  src: url('#{$overpass_mono_url}/regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OverpassMono';
  src: url('#{$overpass_mono_url}/semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OverpassMono';
  src: url('#{$overpass_mono_url}/bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
