@import "~@blueprintjs/core/lib/scss/variables";

.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .padded-frame {
    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: column;
  }
}
