@import "~@blueprintjs/core/lib/scss/variables";

.container {
  display: inline-block;

  &:not(.dark) {
    background: $pt-code-background-color;
  }

  &.dark {
    background: $pt-dark-code-background-color;
  }
}
