@import "src/styles/spaces";

.main {
  display: grid;
  grid-template-columns: min-content auto;

  @include margin-between-v(4px);

  padding: 8px;

  dt {
    white-space: nowrap;
    font-weight: bold;
  }

  dd {
    text-align: left;
    margin-left: 8px;
  }
}
