@import "src/styles/text";

.container {
  font-family: $font-family-mono;
  display: grid;
  grid-template-columns: max-content min-content  1fr min-content max-content;
  justify-items: stretch;
  column-gap: 1ch;
  row-gap: 4px;
}
