@import "~@blueprintjs/core/lib/scss/variables";
@import "src/styles/text";

.container {
  font-family: $font-family-mono;
  display: inline-block;

  white-space: pre;

  &:not(.dark) {
    color: $pt-code-text-color;
  }

  &.dark {
    color: $pt-dark-code-text-color;
  }
}
