@import "style/definitions";

@mixin header($background-color, $border-color, $step-number-background-color) {
  background: $background-color;

  .header {
    border-bottom: 1px solid $border-color;
  }

  .stepNumber {
    background: $step-number-background-color;
  }
}

.root {
  &:not(.dark) {
    @include header($pt-code-background-color, $surface-border-color, $surface-color);
  }

  &.dark {
    @include header($pt-dark-code-background-color, $dark-surface-border-color, $dark-surface-color);
  }

  display: grid;
  grid-template-columns: 30px 60px auto 30px 60px;

  .cell {
    padding-top: 4px;
    @include padding-h(4px);

    &.stepNumber {
      &.hasSelection {
        cursor: pointer;
      }

      &.selected {
        background: $pt-intent-primary;
        color: white;
      }
    }
  }
}


