@import "~@blueprintjs/core/lib/scss/variables";

$font-family-mono: SourceCodePro;
$font-family: SourceSansPro;

$formula-color: $pt-text-color;
$term-color: $pt-text-color-muted;

$dark-formula-color: $pt-dark-text-color;
$dark-term-color: $pt-dark-text-color-muted;

$surface-color: $light-gray4;
$dark-surface-color: $dark-gray4;

$surface-border-color: $light-gray1;
$dark-surface-border-color: $dark-gray5;

@mixin padding-h($space) {
  padding-left: $space;
  padding-right: $space;
}

@mixin padding-v($space) {
  padding-top: $space;
  padding-bottom: $space;
}

@mixin space-between-h($space) {
  & > *:not(:first-child) {
    margin-left: $space;
  }
}

@mixin space-between-v($space) {
  & > *:not(:first-child) {
    margin-top: $space;
  }
}
