@import "~@blueprintjs/core/lib/scss/variables";

$font-family-mono: SourceCodePro;
$font-family: SourceSansPro;

$formula-color: $cobalt3;
$term-color: $vermilion3;

$dark-formula-color: $cobalt5;
$dark-term-color: $vermilion5;

$surface-color: $light-gray4;
$dark-surface-color: $dark-gray4;

$surface-border-color: $light-gray1;
$dark-surface-border-color: $dark-gray5;

@mixin padding-h($space) {
  padding-left: $space;
  padding-right: $space;
}

@mixin padding-v($space) {
  padding-top: $space;
  padding-bottom: $space;
}

@mixin space-between-h($space) {
  & > *:not(:first-child) {
    margin-left: $space;
  }
}

@mixin space-between-v($space) {
  & > *:not(:first-child) {
    margin-top: $space;
  }
}
