@import "style/definitions";

.root {
  font-family: $font-family-mono;
}

.expressionText {
  &.formula {
    color: $color-formula;
  }

  &.term {
    color: $color-term;
  }

  &.isSelected {
    background: $pt-text-selection-color;
  }
}
