@import "style/definitions";

.root {
  display: flex;
  justify-content: space-between;

  .symbols {
    margin-right: 8px;

    button {
      width: 38px;
    }
  }

  .symbolButton {
    font-family: $font-family-mono;
  }
}
