@import "src/styles/spaces";
@import "src/styles/text";

.container {
  min-width: 320px;

  display: flex;
  flex-direction: column;

  .result-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    height: 40px;

    .expression-view {
      @include padding-h(10px);
    }
  }

  textarea {
    font-family: $font-family-mono;
    grid-column: 1 / span 2;
    margin-bottom: 8px;
    resize: none;
  }

  .controls {
    display: flex;
    @include margin-between-h(8px);

    button {
      flex: 1 0 0;
    }
  }
}
