@import "style/definitions";

.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .tableContainer {
    flex-grow: 1;
    min-height: 0;
    overflow-y: scroll;
  }
  .footer {
    @include padding-v(8px);
    display: flex;
    justify-content: center;

    @include space-between-h(8px)
  }
}
