@import "src/styles/colors";
@import "src/styles/text";
@import "~@blueprintjs/core/lib/scss/variables";

.container {
  cursor: pointer;

  &:not(.dark) {
    &.formula {
      color: $formula-color;
    }

    &.term {
      color: $term-color;
    }
  }

  &.dark {
    &.formula {
      color: $formula-color-dark;
    }

    &.term {
      color: $term-color-dark;
    }
  }
}
