@import "src/styles/colors";
@import "src/styles/text";

.container {
  font-family: $font-family-mono;
  cursor: pointer;

  &.formula {
    color: $formula-color;
  }

  &.term {
    color: $term-color;
  }
}
