@import "style/definitions";

.root {
  .message {
    margin-top: 4px;

    text-align: right;

    &.insufficient {
      color: $pt-intent-danger;
    }

    &.weak {
      color: $pt-intent-warning;

    }

    &.strong {
      color: $pt-intent-success;
    }
  }
}
