@import "style/variables";

.root {
  display: flex;

  .main {
    background-color: $pt-app-background-color;
    flex-grow: 1;
  }

  .aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: $pt-code-background-color;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $black;
    padding: 8px;
  }
}
